[user]
email = 85419773+jedwillick@users.noreply.github.com
name = jedwillick

[init]
defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[safe]
	directory = /home/jed/dev/game-of-life-parallel
